In [22]:
num=10
print("Number=",num)
if num%2==0 and num%3==0:
    print("Divisible by 2 and 3")
elif num%2==0 or num%3==0:
        print("Divisible by either 2 or 3")

Number= 10
Divisible by either 2 or 3

num = 8
divisible by 2 not divisible by 3
num = 15
divisible by 3 not divisible by 2
num = 12
Divisible by 3 and 2
num = 5
not Divisible by 2 not divisible by 3

In [25]:
def divisible_or_not(num):
    print("Number=",num)
    if num%2==0 and num%3==0:
        Divisibility="Divisible by 2 and 3"
    else:
        if num%2==0:
            Divisibility="Divisible by 2 and not 3"
        else:
            if num%3==0:
                Divisibility="Divisible by 3 and not 2"
    return(Divisibility)

In [28]:
divisible_or_not(10)
divisible_or_not(3)
divisible_or_not(6)

Number= 10
Number= 3
Number= 6

'Divisible by 2 and 3'

In [18]:
num=10
print ("num = ",num)
if num%2==0:
   if num%3==0:
      print ("Divisible by 3 and 2")
   else:
      print ("divisible by 2 not divisible by 3")
else:
   if num%3==0:
      print ("divisible by 3 not divisible by 2")
   else:
      print ("not Divisible by 2 not divisible by 3")

num =  10
divisible by 2 not divisible by 3

#**The following example illustrates the combination of an else statement with a for statement that searches for prime numbers from 10 to 20.**

In [40]:
def find_prime_numbers(ran):
    prime_numbers_in_range=[]
    for num in range(ran):
        if num%2==0:
            prime_numbers_in_range.append(num)
    return(prime_numbers_in_range)

In [41]:
find_prime_numbers(10)

[0, 2, 4, 6, 8]

# Creating a function to check whether the list item is a positive or a negative number

In [92]:
Jane=[1,-2,3]
Jane_is=""
for num in Jane:
    if num>=0:
        Jane_is=print("positive")
    else:
        Jane_is=print("negative")

positive
negative
positive

In [80]:
def positive_or_negative(x):
    Jane=[]
    Jane.append(x)
    for num in Jane:
        if num>=0:
            Jane_is="positive"
        else:
            Jane_is="negative"
    print(Jane)
    return(Jane_is)

In [85]:
positive_or_negative(1)

[1]

'positive'

In [100]:
def positive_or_negative(a, b, c, d, e):
    Jane=[a,b,c,d,e]
    for num in Jane:
        if num>=0:
            Jane_is="positive"
            print(Jane_is)
        else:
            Jane_is="negative"
            print(Jane_is)

In [102]:
positive_or_negative(1, 2, 3, 4,-5)

positive
positive
positive
positive
negative

In [109]:
def positive_or_negative(Jane):
    Jane_is=[]
    for num in Jane:
        if num>=0:
            Jane_is="positive"
            print(Jane_is)
        else:
            Jane_is="negative"
            print(Jane_is)

In [110]:
positive_or_negative([1,2,3,4,5])

positive
positive
positive
positive
positive

#**Square the elements in a list:**

In [10]:
def square_elements(input_lists):
    output_lists=[]
    for elements in input_lists:
        new_element=elements*elements
        output_lists.append(new_element)
        print("Input_list=",input_lists) 
        print("Squared Element=",new_element)
        print("This is included in the output list=",output_lists)
    return("Final List=",output_lists)

In [11]:
square_elements([1,2,3,4,5])

Input_list= [1, 2, 3, 4, 5]
Squared Element= 1
This is included in the output list= [1]
Input_list= [1, 2, 3, 4, 5]
Squared Element= 4
This is included in the output list= [1, 4]
Input_list= [1, 2, 3, 4, 5]
Squared Element= 9
This is included in the output list= [1, 4, 9]
Input_list= [1, 2, 3, 4, 5]
Squared Element= 16
This is included in the output list= [1, 4, 9, 16]
Input_list= [1, 2, 3, 4, 5]
Squared Element= 25
This is included in the output list= [1, 4, 9, 16, 25]

('Final List=', [1, 4, 9, 16, 25])

#**the iteration run till value of count will become 5.**

In [13]:
def iterate(count):
    while count<=5:
        print("Iteration number=",count)
        count=count+1

In [14]:
iterate(-1)

Iteration number= -1
Iteration number= 0
Iteration number= 1
Iteration number= 2
Iteration number= 3
Iteration number= 4
Iteration number= 5

In [ ]:
def iterate(count):
    while count<=5:
        count=count+1
        print("Iteration number=",count)

In [15]:
iterate(-1)

Iteration number= -1
Iteration number= 0
Iteration number= 1
Iteration number= 2
Iteration number= 3
Iteration number= 4
Iteration number= 5

#Construction of an infinite while loop

#Till the count is less than 5, the iteration count is printed. As it becomes 5, the print statement in else block is executed, before the control is passed to the next statement in the main program.

#The following program demonstrates the use of break in a for loop iterating over a list. Here, the specified number will be searched in the list. If it is found, then the loop terminates with the "found" message.

In [15]:
def find_this_number(input):
    checklist=[1,2,3,4,5,6,7,8,9,0,10,11,22,33,44,55,66,77]
    print("You entered:",input)
    for numbers in checklist:
        if numbers==input:
            Selection="You are selected!"
            break
        else:
            Selection="We are extremely sorry"
    return(print(Selection))

In [16]:
find_this_number(10)
find_this_number(100)

You entered: 10
You are selected!
You entered: 100
We are extremely sorry

In [25]:
word1 = ["ab", "c"]
newword1=[]
word2 = ["a", "bc"]
newword2=[]
newword1.append("".join(word1))
newword2.append("".join(word2))
if newword1==newword2:
    Answer="True"
else:
    Answer="False"
print(Answer)

True

In [32]:
def Are_strings_the_same(word1,word2):
    newword1=[]
    newword1.append("".join(word1))
    newword2=[]
    newword2.append("".join(word2))
    if newword1==newword2:
        Answer="True"
    else:
        Answer="False"
    return(Answer)

In [36]:
Are_strings_the_same(["ab", "c"], ["a", "bc"])

'True'

In [37]:
Are_strings_the_same(["a", "cb"], ["ab", "c"])

'False'

In [38]:
Are_strings_the_same(["abc", "d", "defg"], ["abcddefg"])

'True'

Given an integer array nums, find three numbers whose product is maximum and return the maximum product.

Example 1:

Input: nums = [1,2,3]
Output: 6
Example 2:

Input: nums = [1,2,3,4]
Output: 24
Example 3:

Input: nums = [-1,-2,-3]
Output: -6

In [25]:
def max_product(List):
    
    List.sort(reverse=True)
    print(List)
    return max(List[0]*List[1]*List[2],List[0]*List[-1]*List[-2])

In [26]:
max_product([-100,-98,-1,2,3,4])

[4, 3, 2, -1, -98, -100]

39200

In [15]:
list=['ab','cd','de','f','ghe']
list.sort(key=len)
print(list)

['f', 'ab', 'cd', 'de', 'ghe']

You are given an m x n integer grid accounts where accounts[i][j] is the amount of money the i​​​​​​​​​​​th​​​​ customer has in the j​​​​​​​​​​​th​​​​ bank. Return the wealth that the richest customer has.

A customer's wealth is the amount of money they have in all their bank accounts. The richest customer is the customer that has the maximum wealth.

 

Example 1:

Input: accounts = [[1,2,3],[3,2,1]]
Output: 6
Explanation:
1st customer has wealth = 1 + 2 + 3 = 6
2nd customer has wealth = 3 + 2 + 1 = 6
Both customers are considered the richest with a wealth of 6 each, so return 6.
Example 2:

Input: accounts = [[1,5],[7,3],[3,5]]
Output: 10
Explanation: 
1st customer has wealth = 6
2nd customer has wealth = 10 
3rd customer has wealth = 8
The 2nd customer is the richest with a wealth of 10.
Example 3:

Input: accounts = [[2,8,7],[7,1,3],[1,9,5]]
Output: 17

In [59]:
accounts = [[1,2,3],[3,2,1]]
for acc in accounts:
    nawmi=(max(sum(acc)))
print(nawmi)

TypeError: 'int' object is not iterable